body{
    background-color:blanchedalmond;
}
.container{
    
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.img{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.mediacard{
    float: left;
    padding-right: 30px;

}
.all{
    border-radius: 8px;
    background-color: white;
    height: 400px;
    width: 500px;
}
.text3{
    color: rgb(172, 172, 172);
    padding-bottom: 0px;
}
.textv{
    padding-top: 0px;
    color:green ;
    padding-left: 10px;
    padding-right: 10px;
}
.textva{
    color: rgb(192, 190, 190);
    padding-top: 20px;
    
}
.actions{
    
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: transparent;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.actions:hover{
    background-color: white;
    color: green;
}

.text{
    color: rgb(187, 187, 187);
    font-family:"Arial";
}




@media (max-width:375px) {
    
    body{
        margin: 0px;

    }
    .img{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        width: 280px;
        height: 220px;
    }
    .mediacard{
        float:'';
    }
    .all{
        background-color: transparent;
        
    }
    .alltext{
        height: 100px;
        width: 250px;
        position:absolute;
        padding-top: 210px;
        
    }
    .cardtop{
        border-radius: 8px;
        height: 560px;
        width: 280px;
        background-color: white;
    }
    .card{
        padding-top: 10px;
        padding-left: 230px;
    }
    .actionscard{
        position:absolute;
        padding-left: 27%;
    }
    
    .text2{
        font-size: 25px;
    }
    
}